<html>
    <title>Create Question</title>

    <body>
        <form method="POST">
            Question : <input name="name_quiz" id="id_quiz" placeholder="Enter a question"/></br>
            </br>

            <ul>
            <input type="radio" name="choice" id="true" value="True">True </br>
            <input type="radio" name="choice" id="false" value="False">False </br>
            </br>
            </ul>
                        
            <input type="submit" name="sub_bt" value="subBT"/>
            {% csrf_token %}             
        </form>
     </body>

</html>