<html>
<title>Detail</title>
    <body>  

        </br>
        Question : {{ question.post_text }}
        </br>
        </br>

        <form method="POST" action="/{{question.id}}/vote/">
            
            {% csrf_token %}

            Select Choice :</br>
            <ul>
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
            {% endfor %}
            </ul>

            <input type="submit" name="vote_bt" value="Vote" />
        </form>

        {% if error_message %}
            <h3><strong>{{ error_message }}</strong></h3>
        {% endif %}

    </body>
</html>
