<html>
    <title>Question--Homepage</title>
    
    <body>
        </br>
        <input type="button" name="create_question" onclick="window.location.href='/create/'" 
        value="Create Question">
        </br>
        </br>

        Question :</br>
        {% for item in question %}
            <form method="POST" action="{{ item.id }}/">
            {{forloop.counter}}:<a href="/{{ item.id }}/">{{ item.post_text }}</a>
            {% csrf_token %}
            </form>
        {% endfor %}
    </body>

</html>
